<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Pages>4</Pages>
  <Words>678</Words>
  <Characters>2431</Characters>
  <TotalTime>2</TotalTime>
  <ScaleCrop>false</ScaleCrop>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>3074</CharactersWithSpaces>
  <Application>WPS Office_12.1.0.26880_F1E327BC-269C-435d-A152-05C5408002CA</Application>
</Properties>
